@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
* {
    font-family: 'Sue Ellen Francisco', cursive;
}
ul {
    list-style-type: none;
    width: 20%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para que no se desborde el contenido */
    background-color: #70a0fa;
    position: fixed; /* Para que se quede fijo en la pantalla */
    height: 100%;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none; /*quitar la linea de subrayado; */
    font-size: 20px;
    font-weight: bold;
}
li a:hover:not(.activo) {
    background-color: #0059fdc9;
    color: white;
}
.activo {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px;
    text-align: center;
    font-size: 25px;
}
.capa1{
    margin-left: 23%;
    padding: 1px 16px;
    height: 1000px;
    text-align: justify;
}